<!DOCTYPE html>
<html lang="en" class="w-screen h-screen overflow-hidden">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LiveShowy", suffix: "" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>

    <script>
      window.userToken = "<%= assigns[:user_token] %>"
    </script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col w-full h-full overflow-auto leading-normal tracking-wide text-white bg-purple-900">
    <header class="sticky top-0 z-50 text-purple-200 shadow-md select-none">
      <section class="bg-gradient-to-br from-purple-700 to-purple-900">
        <nav class="mx-auto max-w-7xl">
          <ul class="flex flex-wrap gap-4 p-4">
            <li>
              <%= link "LiveShowy", to: Routes.landing_index_path(@conn, :index), class: "hover:text-white" %>
            </li>

            <span class="flex-grow"></span>

            <li>
              <%= link "Dots", to: Routes.dots_index_path(@conn, :index), class: "hover:text-white" %>
            </li>
            <li>
              <%= link "Keys", to: Routes.keys_index_path(@conn, :index), class: "hover:text-white" %>
            </li>
            <li>
              <%= link "Drum Pad", to: Routes.drum_pad_index_path(@conn, :index), class: "hover:text-white" %>
            </li>
            <li>
              <%= link "Backstage", to: Routes.backstage_index_path(@conn, :index), class: "hover:text-white" %>
            </li>
            <li>
              <%= link "Stage Manager", to: Routes.stage_manager_index_path(@conn, :index), class: "hover:text-white" %>
            </li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "hover:text-white" %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>

    <%= @inner_content %>
  </body>
</html>
