<div class="flex flex-wrap justify-between gap-4 place-items-stretch">
  <h1 class="w-full select-none">Band</h1>

  <section>
    <h2>Your Instrument</h2>
    <.live_component module={Keyboard} id="band-keyboard" />
  </section>

  <section>
    <h2>Members</h2>
  </section>
</div>
