@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./alerts.css";
@import "./live_view.css";

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
