<section class="flex flex-col justify-center w-full h-full gap-4 text-xl">
  <h1>Live Showy</h1>

  <article>
    <p>LiveShowy helps audiences participate in live performances.</p>
  </article>
</section>
