<div class="flex flex-wrap justify-center gap-4 select-none place-items-stretch">

  <div class="w-full">
    <h1>Dancing Dots</h1>
  </div>

  <section>
    <.live_component module={XYPad} id="xy-pad" users={@users} dots={@dots} current_user_id={@current_user_id} />
  </section>

  <section class="flex-1 min-w-max">
    <h2>Dancers</h2>
    <Users.list id="user-list-dots" users={@users} current_user_id={@current_user_id} editable={false} />
  </section>

</div>
