<div class="flex flex-wrap justify-between gap-4 place-items-stretch">
  <h1 class="w-full select-none">Keys</h1>

  <section>
    <.live_component module={Keyboard} octave={5} id="band-keyboard" />
  </section>
</div>
